:root {
    --primary-color: #9DB5B2;
    --light-cyan: #DAF0EE;
    --black-olive: #3B413C;
    --tifany-blue: #94D1BE;
}

/*font-family: 'ThunderMed';*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    font-family: "Bricolage Grotesque", sans-serif;
}

/*   Cuerpo de la pagina  */
#title {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    background-color: #94D1BE;
}

.titulo-receta {
    font-size: 25px;
    padding: 30px 20px;
    background-image: linear-gradient(180deg, var(--tifany-blue) 0%, var(--light-cyan) 80%);
}

.autor {
    background-image: linear-gradient(180deg, var(--light-cyan) 0%, #fff 100%);
    display: flex;
    gap: 10px;
    padding: 20px;
}

.img-autor {
    width: 70px;
    border-radius: 50%;
}

hr {
    border: 1px solid var(--black-olive);
}

p {
    text-align: justify;
    padding: 20px 5%;
    line-height: 1.5;
}

.img-receta {
    padding: 20px 15%;
    width: 100%;
}


.preparacion h2 {
    text-align: start;
    padding: 5px 20px;
}

.pasos .description {
    text-align: start;
    padding: 5px 5%;
    line-height: 1.5;
}

.pasos p {
    padding: 5px 5%;
}

.pasos .description::first-letter {
    font-size: 40px;
    font-weight: 700;
    padding-right: 5px;
    line-height: 0;
}

#recetas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px
}

.receta-link {
    text-decoration: none;
    color: var(--black-olive);

}

.receta {
    width: 95%;
    height: 500px;
    border: 1px solid #2a2b2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.receta img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: ease-in-out 0.5s;

}

.receta h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.receta button {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #ffded6;
    cursor: pointer;
}

.receta:hover img {
    scale: 1.03;
    opacity: 0.8;
}

.receta:hover button {
    opacity: 0.9;
}



.footer {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /*dark:bg-gray-900*/
    margin: 1rem;
}

.footer-content {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

.footer-logo-tamaño {
    height: 2rem;
}

.footer-logo-text {
    align-self: center;
    font-size: 1.5rem;
    /* Equivalente a text-2xl en Tailwind CSS */
    font-weight: 600;
    /* Equivalente a font-semibold en Tailwind CSS */
    white-space: nowrap;
    /* Equivalente a whitespace-nowrap en Tailwind CSS */
    color: #000;
    /* Color del texto predeterminado */
    /*dark:text-white*/
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5rem;
    /* Ajusta este valor según sea necesario */
    font-size: 0.875rem;
    /* Equivalente a text-sm en Tailwind CSS */
    font-weight: 500;
    /* Equivalente a font-medium en Tailwind CSS */
    color: #6b7280;
    /* Equivalente a text-gray-500 en Tailwind CSS */
}

/* Estilos para cada elemento de la lista */
.footer li {
    margin-right: 1rem;
    /* Espacio entre elementos */
}

/* Estilos para los enlaces */
.footer a {
    text-decoration: none;
    transition: text-decoration 0.2s ease-in-out;
    color: inherit;
    /* Hereda el color del padre */
}

/* Estilos al pasar el ratón sobre los enlaces */
.footer a:hover {
    text-decoration: underline;
}

.hr-styles {
    margin-top: 1.5rem;
    /* Margen superior de 1.5 rem */
    margin-bottom: 1.5rem;
    /* Margen inferior de 1.5 rem */
    border-color: #edf2f7;
    /* Color del borde gris */
}

.text-copyright {
    font-size: 0.875rem;
    /* Equivalente a text-sm en Tailwind CSS */
    color: #6b7280;
    /* Equivalente a text-gray-500 en Tailwind CSS */
    text-align: left;
    /* Por defecto, el texto se alinea a la izquierda */
}

.text-copyright a {
    text-decoration: none;
    transition: text-decoration 0.2s ease-in-out;
}

.text-copyright a:hover {
    text-decoration: underline;
}

.footer-redes-sociales {
    display: flex;
    margin-top: 1rem;
    /* Ajusta este valor según sea necesario */
}

.item-primero {
    color: #6b7280;
    transition: color 0.2s ease-in-out;/
}

.item {
    color: #6b7280;
    transition: color 0.2s ease-in-out;
    margin-left: 1.25rem;
}

.item-primero:hover,
.item:hover {
    color: #111827;
    /* Equivalente a text-gray-900 en Tailwind CSS */
}

.svg-tamanio {
    width: 1rem;
    height: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* Estilos específicos para dispositivos con una resolución igual o mayor a "mediana" */
/* sm */
@media screen and (min-width: 768px) {

    /* Estilos que deseas aplicar para dispositivos con una resolución igual o mayor a "pequeña" */
    /* Por ejemplo: */
    /* sm:flex sm:items-center sm:justify-between */
    .footer-content-sm {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-logo {
        margin-bottom: 0;
    }

    .hr-styles {
        margin-left: auto;
        /* Margen izquierdo automático */
        margin-right: auto;
        /* Margen derecho automático */
    }

    .text-copyright {
        text-align: center;
        /* Equivalente a sm:text-center en Tailwind CSS */
    }

    .footer-redes-sociales {
        justify-content: center;
        margin-top: 0;
    }
}

/* md */
@media screen and (min-width: 768px) {

    /*md:py-8
   *
   *padding-top: 2rem;  Cambia este valor según sea necesario 
   *padding-bottom: 2rem;  Cambia este valor según sea necesario 
   */
    .footer li {
        margin-right: 1.5rem;
        /* Ajusta el espacio entre elementos */
    }

    .footer-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .lg\:hr-styles {
        margin-top: 2rem;
        /* Margen superior de 2 rem */
        margin-bottom: 2rem;
        /* Margen inferior de 2 rem */
        border-color: #4a5568;
        /* Color del borde gris oscuro */
    }
}





/**
*
*
*RESPONSIVE
*
*
**/

/*CELULAR*/
@media only screen and (max-width: 767px) {

    /* body{background: green;} */
    #nav-redes-sociales {
        display: none;
    }

    #nav-bar {
        display: none;
    }

    #burger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    #burger-nav img {
        width: 100px;
        height: 100px;
    }

    #burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #burger span {
        margin: 5px;
        background-color: #2a2b2a;
        width: 50px;
        height: 5px;
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .burger-x span:nth-child(1) {
        transform: rotate(45deg) translate(16px, 5px);

    }

    .burger-x span:nth-child(2) {
        opacity: 0;
    }

    .burger-x span:nth-child(3) {
        transform: rotate(-45deg) translate(16px, -5px);
    }

    #nav-bar-burger {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background-color: #ffffff99;
        z-index: 150;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
        transition: transform 0.4s ease-in-out;
        transform: translateX(0);
    }

    #nav-bar-burger.hidden {
        transform: translateX(-100%);
        /* Se desplaza fuera de la pantalla */
    }

    #nav-bar-burger .a {
        text-align: center;
        width: 200px;
        border: 1px solid #2a2b2a;
        font-size: 2rem;
        color: #2a2b2a;
        text-decoration: none;
    }

    #nav-bar-burger .a:hover:nth-child(1) {
        background-color: #ff8c70;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(2) {
        background-color: #f74639;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(3) {
        background-color: #d56638;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(4) {
        background-color: #003811;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger-redes-sociales img {
        width: 50px;
        padding: 0 10px;
    }

    #nav-bar-burger-redes-sociales img:hover {
        opacity: 0.8;
    }

    .hidden {
        display: none;
    }

    .header hr {
        width: 98%;
        text-align: center;
        margin: 0 auto 15px auto;
    }
}

/*TABLET o celular grande horizontal*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* body{background: orange;} */
    #nav-redes-sociales {
        display: none;
    }

    #nav-bar {
        display: none;
    }

    #burger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    #burger-nav img {
        width: 100px;
        height: 100px;
    }

    #burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #burger span {
        margin: 5px;
        background-color: #2a2b2a;
        width: 50px;
        height: 5px;
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .burger-x span:nth-child(1) {
        transform: rotate(45deg) translate(16px, 5px);

    }

    .burger-x span:nth-child(2) {
        opacity: 0;
    }

    .burger-x span:nth-child(3) {
        transform: rotate(-45deg) translate(16px, -5px);
    }

    #nav-bar-burger {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100vh;
        background-color: #ffffff99;
        z-index: 150;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 50px;
        transition: transform 0.4s ease-in-out;
        transform: translateX(0);
    }

    #nav-bar-burger.hidden {
        transform: translateX(-100%);
    }

    #nav-bar-burger .a {
        text-align: center;
        width: 200px;
        border: 1px solid #2a2b2a;
        font-size: 2rem;
        color: #2a2b2a;
        text-decoration: none;
    }

    #nav-bar-burger .a:hover:nth-child(1) {
        background-color: #ff8c70;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(2) {
        background-color: #f74639;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(3) {
        background-color: #d56638;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(4) {
        background-color: #003811;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger-redes-sociales img {
        width: 50px;
        padding: 0 10px;
    }

    #nav-bar-burger-redes-sociales img:hover {
        opacity: 0.8;
    }

    .hidden {
        display: none;
    }

    .header hr {
        width: 98%;
        text-align: center;
        margin: 0 auto 15px auto;
    }
}

/*TABLET HORIZONTAL*/
@media only screen and (min-width: 1024px) and (max-width: 1199.98px) {

    /*body{
         background-color: black;
     }*/
    #nav-redes-sociales {
        display: none;
    }

    #nav-bar {
        display: none;
    }

    #burger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    #burger-nav img {
        width: 100px;
        height: 100px;
    }

    #burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #burger span {
        margin: 5px;
        background-color: #2a2b2a;
        width: 50px;
        height: 5px;
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .burger-x span:nth-child(1) {
        transform: rotate(45deg) translate(16px, 5px);

    }

    .burger-x span:nth-child(2) {
        opacity: 0;
    }

    .burger-x span:nth-child(3) {
        transform: rotate(-45deg) translate(16px, -5px);
    }

    #nav-bar-burger {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100vh;
        background-color: #ffffff99;
        z-index: 150;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 50px;
        transition: transform 0.4s ease-in-out;
        transform: translateX(0);
    }

    #nav-bar-burger.hidden {
        transform: translateX(-100%);
        /* Se desplaza fuera de la pantalla */
    }

    #nav-bar-burger .a {
        text-align: center;
        width: 200px;
        border: 1px solid #2a2b2a;
        font-size: 2rem;
        color: #2a2b2a;
        text-decoration: none;
    }

    #nav-bar-burger .a:hover:nth-child(1) {
        background-color: #ff8c70;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(2) {
        background-color: #f74639;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(3) {
        background-color: #d56638;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger .a:hover:nth-child(4) {
        background-color: #003811;
        box-shadow: 4px 4px 0 #2a2b2a;
        color: #fff;
    }

    #nav-bar-burger-redes-sociales img {
        width: 50px;
        padding: 0 10px;
    }

    #nav-bar-burger-redes-sociales img:hover {
        opacity: 0.8;
    }

    .hidden {
        display: none;
    }

    .header hr {
        width: 98%;
        text-align: center;
        margin: 0 auto 15px auto;
    }

}