/*   Cuerpo de la pagina  */
#title {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    background-color: #94D1BE;
}

.titulo-receta {
    font-size: 25px;
    padding: 30px 20px;
    background-image: linear-gradient(180deg, var(--tifany-blue) 0%, var(--light-cyan) 80%);
}

.autor {
    background-image: linear-gradient(180deg, var(--light-cyan) 0%, #fff 100%);
    display: flex;
    gap: 10px;
    padding: 20px;
}

.img-autor {
    width: 70px;
    border-radius: 50%;
}

hr {
    border: 1px solid var(--black-olive);
}

p {
    text-align: justify;
    padding: 20px 5%;
    line-height: 1.5;
}

.img-receta {
    padding: 20px 15%;
    width: 100%;
}


.preparacion h2 {
    text-align: start;
    padding: 5px 20px;
}

.pasos .description {
    text-align: start;
    padding: 5px 5%;
    line-height: 1.5;
}

.pasos p {
    padding: 5px 5%;
}

.pasos .description::first-letter {
    font-size: 40px;
    font-weight: 700;
    padding-right: 5px;
    line-height: 0;
}

#recetas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px
}

.receta-link {
    text-decoration: none;
    color: var(--black-olive);

}

.receta {
    width: 95%;
    height: 500px;
    border: 1px solid #2a2b2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.receta img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: ease-in-out 0.5s;

}

.receta h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.receta button {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #ffded6;
    cursor: pointer;
}

.receta:hover img {
    scale: 1.03;
    opacity: 0.8;
}

.receta:hover button {
    opacity: 0.9;
}



.footer {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /*dark:bg-gray-900*/
    margin: 1rem;
}

.footer-content {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

.footer-logo-tamaño {
    height: 2rem;
}

.footer-logo-text {
    align-self: center;
    font-size: 1.5rem;
    /* Equivalente a text-2xl en Tailwind CSS */
    font-weight: 600;
    /* Equivalente a font-semibold en Tailwind CSS */
    white-space: nowrap;
    /* Equivalente a whitespace-nowrap en Tailwind CSS */
    color: #000;
    /* Color del texto predeterminado */
    /*dark:text-white*/
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5rem;
    /* Ajusta este valor según sea necesario */
    font-size: 0.875rem;
    /* Equivalente a text-sm en Tailwind CSS */
    font-weight: 500;
    /* Equivalente a font-medium en Tailwind CSS */
    color: #6b7280;
    /* Equivalente a text-gray-500 en Tailwind CSS */
}

/* Estilos para cada elemento de la lista */
.footer li {
    margin-right: 1rem;
    /* Espacio entre elementos */
}

/* Estilos para los enlaces */
.footer a {
    text-decoration: none;
    transition: text-decoration 0.2s ease-in-out;
    color: inherit;
    /* Hereda el color del padre */
}

/* Estilos al pasar el ratón sobre los enlaces */
.footer a:hover {
    text-decoration: underline;
}

.hr-styles {
    margin-top: 1.5rem;
    /* Margen superior de 1.5 rem */
    margin-bottom: 1.5rem;
    /* Margen inferior de 1.5 rem */
    border-color: #edf2f7;
    /* Color del borde gris */
}

.text-copyright {
    font-size: 0.875rem;
    /* Equivalente a text-sm en Tailwind CSS */
    color: #6b7280;
    /* Equivalente a text-gray-500 en Tailwind CSS */
    text-align: left;
    /* Por defecto, el texto se alinea a la izquierda */
}

.text-copyright a {
    text-decoration: none;
    transition: text-decoration 0.2s ease-in-out;
}

.text-copyright a:hover {
    text-decoration: underline;
}

.footer-redes-sociales {
    display: flex;
    margin-top: 1rem;
    /* Ajusta este valor según sea necesario */
}

.item-primero {
    color: #6b7280;
    transition: color 0.2s ease-in-out;/
}

.item {
    color: #6b7280;
    transition: color 0.2s ease-in-out;
    margin-left: 1.25rem;
}

.item-primero:hover,
.item:hover {
    color: #111827;
    /* Equivalente a text-gray-900 en Tailwind CSS */
}

.svg-tamanio {
    width: 1rem;
    height: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}